
.idea/clms-codeigniter.iml

.idea/compiler.xml

.idea/copyright/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

application/config/config.php

application/config/database.php
